MYSQL_ROOT_PASSWORD=change_me_root
MYSQL_DATABASE=myapp
MYSQL_USER=appuser
MYSQL_PASSWORD=change_me_app

MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=change_me_mongo
MONGO_INITDB_DATABASE=blog_db

API_PORT=8000
ADMINER_PORT=8081
MONGO_EXPRESS_PORT=8082

MONGO_EXPRESS_BASIC_AUTH_USER=admin
MONGO_EXPRESS_BASIC_AUTH_PASSWORD=admin
